/* CSS Document */
*, *::after, *::before {
	padding: 0;
	margin: 0;
  	box-sizing:border-box;  
}

html, body {
  height: 100%;
  margin: 0;
  overflow: scroll;
}

a:focus, button:focus{
	outline-width: 0;
	border: 5px dotted purple;
}


/* hamburger menu (javascript deel) */
#menu{
	background-image: url(../images/bg_menu.jpg);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	position: fixed;
	visibility: hidden;
}

#menu h2{
	color: white;
	font-family: "Helvetica Neue";
	font-size: 3em;
}

#menu.toonmenu{
	visibility: visible;
}

#menu ul{
	margin-top: 80px;
}

#menu li{
	font-size: 1.8em;
	font-family: "Helvetica Neue";
	font-weight: bold;
	text-align: center;
	color: white;
	padding-bottom: 20px;
	list-style-type: none;
}

#menu li:first-of-type{
	animation-name: invliegenMenu;
	animation-duration: 2s;
}

#menu li:nth-of-type(2){
	animation-name: invliegenMenu;
	animation-duration: 2.5s;
}

#menu li:nth-of-type(3){
	animation-name: invliegenMenu;
	animation-duration: 3s;
}

#menu li:last-of-type{
	animation-name: invliegenMenu;
	animation-duration: 3.5s;
}

@keyframes invliegenMenu {
 0%   { 
 transform: translateX(-200%); 		
 }
 100% { 
 transform: translateX(0%); 
 }
}

/* popup (javascript) */
#popup{
	visibility: visible;
	width: 75%;
	height: 8em;
	background-color: white;
	border: 3px solid transparent;
    border-image: linear-gradient(to right, purple, pink);
    border-image-slice: 1;
	z-index: 200;
	position: absolute; 
  	left: 0; 
  	right: 0; 
  	margin-left: auto; 
  	margin-right: auto;
  	bottom: 2em;
}

#popup img{
	width: 14%;
	position: absolute;
	right: 0;
}

#popup h4{
	font-family: "Helvetica Neue";
	text-align: center;
	font-size: 0.9em;
	font-weight: 500;
	padding-top: 15px;
}

#popup p{
	font-family: "Helvetica Neue";
	text-align: center;
	font-size: 0.7em;
	font-weight: 500;
	padding: 10px 20px 10px 20px;
}

#popup button{
	font-family: "Helvetica Neue";
	background-color: #806699;
	border: none;
	font-size: 0.7em;
	color: white;
	width: 90%;
	height: 3em;
	display: block;
	margin: 0px auto;
}

#popup.wegpopup{
	visibility: hidden;
}

#openpopup{
	visibility: hidden;
	width: 75%;
	background-color: #806699;
	z-index: 200;
	position: absolute; 
  	left: 0; 
  	right: 0; 
  	margin-left: auto; 
  	margin-right: auto;
  	bottom: 0;
}

#openpopup.toonpopupbutton{
	visibility: visible;
}

#openpopup h3{
	font-family: "Helvetica Neue";
	color: white;
	text-align: center;
	padding: 10px 0px;
	font-size: 0.8em;
}

/* Tekstdeel van de header */
header{
	background-color: #ffc0cb;
	padding: 10px 50px;
	transform: translateY(0%);
	animation-name: invliegenHeader;
	animation-duration: 2s;
}

header p{
	font-size: 15px;
	line-height: 20px;
	font-family: "Helvetica Neue";
	font-weight: medium;
	text-align: center;
}

header p a{
	color: black;
	text-decoration: none;
	border-bottom: 2px solid black;
}

@keyframes invliegenHeader{
	0%{	
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(0%);
	}
}

/* navigatie */
nav{
	width: 100%;
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 10;
}

nav img{
	width: 90%;
}

nav ul{   
  list-style:none;
  display: flex;
  align-items: center;
}

nav li {
  flex-grow: 1;
}

nav.toonnavigatie{
    margin-top: -70px;
    background-color: transparent;

}

.logo{
	width: 75%;
}

/* eerste deel main */

#homepagina main section:first-of-type ul li:first-of-type div{
	width: 100%;
	height: 22em;
	background-image: url(../images/monkifoto_1.jpg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;

}

#homepagina main section:first-of-type ul li:last-of-type div{
	width: 100%;
	height: 22em;
	background-image: url(../images/monkifoto_2.jpg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -35px;
	margin-bottom: -50px;
}

#homepagina main section:first-of-type ul li:first-of-type, #homepagina main section:first-of-type ul li:last-of-type{
	position: relative;
}


#homepagina main section:first-of-type ul li:first-of-type h2 {
	position: absolute;
	bottom: 5em;
	color: white;
	font-family: "Helvetica Neue";
	font-size: 32px;
	width: 100%;
	text-align: center;
}

#homepagina main section:first-of-type ul li:last-of-type h2{
	position: absolute;
	bottom: 3.5em;
	color: white;
	font-family: "Helvetica Neue";
	font-size: 32px;
	width: 100%;
	text-align: center;
}

#homepagina main section:first-of-type ul li:first-of-type button{
	font-family: "Helvetica Neue";
	background-color: white;
	border: none;
	font-size: 16px;
	width: 10em;
	height: 3em;
	padding: 12px 0px;
	display: block;
	margin: 0px auto;
	position: relative;
	bottom: 5em;
}

#homepagina main section:first-of-type ul li:last-of-type .shopbutton{
	font-family: "Helvetica Neue";
	background-color: white;
	border: none;
	font-size: 16px;
	width: 10em;
	height: 3em;
	padding: 12px 0px;
	display: block;
	margin: 0px auto;
	position: relative;
	bottom: 2em;
}

@keyframes buttonBeweging {
  0% { 
  	transform:rotate(5deg);
  }
  50% { 
  	transform:rotate(-5deg); 
   }
  100% { 
  	transform:rotate(5deg);
  }
}

#homepagina main section:first-of-type ul button:hover{
	animation-name: buttonBeweging;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#homepagina main section:first-of-type ul a{
	text-decoration: none;
}



/* tweede deel main */
#homepagina main section:nth-of-type(2) ul {
    overflow: auto;
    white-space:nowrap;
    padding: 10px;
}

#homepagina main section:nth-of-type(2) ul li{
	display: inline-block;
	width: 45%;
	margin: 25px 5px 0 0;
}

#homepagina main section:nth-of-type(2) ul img{
	width: 100%;
}

#homepagina main section:nth-of-type(2) ul h3{
	font-size: 13px;
	font-family: "Helvetica Neue";
	font-weight: 400;
	text-align: center;
	padding-top: 10px;
}


/* derde deel main */

#homepagina main section:nth-of-type(3) ul li:first-of-type div{
	width: 100%;
	height: 22em;
	background-image: url(../images/monkifoto_3.jpg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;

}

#homepagina main section:nth-of-type(3) ul li:last-of-type div{
	width: 100%;
	height: 22em;
	background-image: url(../images/monkifoto_4.jpg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -35px;
	margin-bottom: -50px;
}

#homepagina main section:nth-of-type(3) ul li:first-of-type, #homepagina main section:nth-of-type(3) ul li:last-of-type{
	position: relative;
}


#homepagina main section:nth-of-type(3) ul li:first-of-type h2 {
	position: absolute;
	bottom: 5em;
	color: white;
	font-family: "Helvetica Neue";
	font-size: 32px;
	width: 100%;
	padding: 0px 40px;
	text-align: center;
}

#homepagina main section:nth-of-type(3) ul li:last-of-type h2{
	position: absolute;
	bottom: 3.5em;
	color: white;
	font-family: "Helvetica Neue";
	font-size: 32px;
	width: 100%;
	text-align: center;
}

#homepagina main section:nth-of-type(3) ul li:first-of-type button{
	font-family: "Helvetica Neue";
	background-color: white;
	border: none;
	font-size: 16px;
	width: 10em;
	height: 3em;
	padding: 12px 0px;
	display: block;
	margin: 0px auto;
	position: relative;
	bottom: 5em;
}

#homepagina main section:nth-of-type(3) ul li:last-of-type .shopbutton{
	font-family: "Helvetica Neue";
	background-color: white;
	border: none;
	font-size: 16px;
	width: 10em;
	height: 3em;
	padding: 12px 0px;
	display: block;
	margin: 0px auto;
	position: relative;
	bottom: 2em;
}

#homepagina main section:nth-of-type(3) ul a{
	text-decoration: none;
}

/* vierde deel main */
#homepagina main section:nth-of-type(4) ul{
	background-image: url(../images/planetpower.jpg);
	height: 21.1em;
	margin-top: 20px;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}

#homepagina main section:nth-of-type(4) ul li{
	position: relative;
}

#homepagina main section:nth-of-type(4) ul li p{
	position: absolute;
  	top: 1em;
  	padding: 0px 70px;
	font-family: "Helvetica Neue";
	font-weight: bold;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 28px;
	letter-spacing: 1px;
}

#homepagina main section:nth-of-type(4) ul li a button{
  	font-family: "Helvetica Neue";
	background-color: white;
	border: none;
	font-size: 16px;
	width: 10em;
	height: 3em;
	padding: 12px 0px;
	display: block;
	margin: 0px auto;
	position: relative;
	top: 16.5em;
}

#homepagina main section:nth-of-type(4) ul li a{
	text-decoration: none;
}

/* laatste deel main */
#homepagina main section:last-of-type h2{
	font-size: 34px;
	font-family: "Helvetica Neue";
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}

#homepagina main section:last-of-type p{
	font-size: 20px;
	font-family: "Helvetica Neue";
	text-align: center;
	padding: 20px 16px;
}

#homepagina main section:last-of-type a{
	text-decoration: none;
}

#homepagina main section:last-of-type button{
  	font-family: "Helvetica Neue";
	background-color: black;
	color: white;
	border: none;
	font-size: 16px;
	width: 11em;
    height: 2.8em;
	padding: 12px 0px;
	display: block;
	margin: 0px auto;
}

#homepagina main section:last-of-type .gridwrapper{
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-auto-rows: 8.4em;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em 0.5em;
	padding-bottom: 40px ;
}

#homepagina main .gridwrapper img{
	width: 100%;
}


/* footer */
footer{
	margin-top:20px;
	background-color: #ffc0cb;
}

footer img:first-of-type{
	width: 10%;
	display: block;
	margin: 0px auto;
	padding-top: 10px;
}

footer h2{
	font-size: 24px;
	font-family: "Helvetica Neue";
	text-align: center;
	padding: 0 30px;
	padding-top: 10px;
}

footer p:first-of-type{
	font-size: 16px;
	font-family: "Helvetica Neue";
	text-align: center;
	padding: 0 18px;
	margin: 20px 0;
}

footer a{
	text-decoration: none;
}

footer button{
	font-family: "Helvetica Neue";
	border: 2px solid black;
	background-color: white;
	font-size: 16px;
	width: 11em;
    height: 2.8em;
	padding: 12px 0px;
	display: block;
	margin: 0px auto;
	margin-bottom: 40px;
}

footer ul li{
	font-size: 20px;
	font-family: "Helvetica Neue";
	font-weight: bold;
	padding: 10px;
	width: 90%;
	display: block;
	margin: 0px auto;
}

footer p:last-of-type{
	font-family: "Helvetica Neue";
	font-weight: 400;
	text-align: center;
	font-size: 0.8em;
	color: #808080;
	padding: 0px 18px;
	padding-bottom: 10px;
}


/* 2e pagina */

/* section 1 */
/* productfoto en info */
#productpagina .mainproductpagina .productfoto{
	width: 100%;
	height: 22em;
	background-image: url(../images/productmodel.jpg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

#productpagina .mainproductpagina section:first-of-type h2{
	font-family: "Helvetica Neue";
	font-size: 1.2em;
	margin-left: 10px;
}

#productpagina .mainproductpagina section:first-of-type h2:nth-of-type(2){
	font-weight: normal;
}


/* kleur kiezen */
#productpagina .mainproductpagina section:first-of-type ul:first-of-type{
	margin: 10px 0px 0px 10px;
}

#productpagina .mainproductpagina section:first-of-type ul:first-of-type img{
	width: 2em;
	height: 2em;
	border-radius: 50%;
}

#productpagina .mainproductpagina section:first-of-type ul:first-of-type li{
	display:inline;
	padding-right: 20px;
}


/* select size & button */
#productpagina .mainproductpagina section:first-of-type p, #productpagina .mainproductpagina section:first-of-type a:first-of-type{
	font-family: "Helvetica Neue";
	font-size: 0.8em;
	font-weight: 500;
	margin: 10px 0px 10px 10px;
	color: black;
}

#productpagina .mainproductpagina section:first-of-type .maatbutton{
	background-color: white;
	width: 3.5em;
	height: 3.5em;

}

#productpagina .mainproductpagina section:first-of-type .maattabel{
	width: 90%;
	margin-left: 10px;
}

#productpagina .mainproductpagina section:first-of-type .maattabel li{
	display: inline-block;
	padding-right: 4px;
	padding-bottom: 10px;

}

#productpagina .mainproductpagina section:first-of-type .addtobag {
	width: 95%;
	height: 3em;
	display: block;
	margin: 0px auto;
	margin-top: 10px;
	border: none;
	background-color: #D2D6D8;
	color: white;
	font-size: 1.1em;
	font-weight: bold;
}

#productpagina .mainproductpagina section:first-of-type a:last-of-type{
	text-decoration: none;
}

/* section 2 */
#productpagina .mainproductpagina section:nth-of-type(2) ul:first-of-type{
	margin: 20px 0px 0px 10px;
}

#productpagina .mainproductpagina section:nth-of-type(2) ul:first-of-type li{
	display: inline;
}

#productpagina .mainproductpagina section:nth-of-type(2) button{
	height: 3.5em;
	width: 31.5%;
	text-align: center;
	border: none;
	background-color: #EFF0F3;
	font-family: "Helvetica Neue";
}

#productpagina .mainproductpagina section:nth-of-type(2) p{
	font-family: "Helvetica Neue";
	font-size: 0.8em;
	margin-left: 10px;
	margin: 20px 0px 20px 10px;

}

#productpagina .mainproductpagina section:nth-of-type(2) ul:last-of-type{
	margin: 20px 0px;
	font-family: "Helvetica Neue";
	font-size: 0.8em;
	margin-left: 10px;
}


/* section 3 */

#productpagina .mainproductpagina section:last-of-type h2{
	font-family: "Helvetica Neue";
	text-align: center;
	font-size: 1.5em;
	padding-top: 20px;
	border-top: 1px solid #A8A8A8;
}

#productpagina .mainproductpagina section:last-of-type img{
	width: 50%;
	display: block;
	margin: 0px auto;
	margin-top: 30px;
}

#productpagina .mainproductpagina section:last-of-type p{
	font-family: "Helvetica Neue";
	text-align: center;
	font-size: 0.8em;
	margin: 5px 0px 20px 0px;
	padding: 0px 90px;
	line-height: 1.5em;
}

#productpagina .mainproductpagina section:last-of-type ul{
	overflow: auto;
    white-space:nowrap;
    padding: 10px;
}

#productpagina .mainproductpagina section:last-of-type ul li{
	display: inline-block;
	width: 45%;
	margin-right: 5px;
}

#productpagina .mainproductpagina section:last-of-type ul img{
	width: 100%;
}


#productpagina .mainproductpagina section:last-of-type h2:nth-of-type(3){
	border: none;
	font-size: 1.3em;
}


/* responsive */

@media (min-width: 375px) and (max-width: 667px){

	#homepagina main section:first-of-type ul li:first-of-type div, #homepagina main section:first-of-type ul li:last-of-type div, #homepagina main section:nth-of-type(3) ul li:first-of-type div, #homepagina main section:nth-of-type(3) ul li:last-of-type div{
		height: 26.2em;
	}

	#homepagina main section:nth-of-type(4) ul{
		height: 25em;
	}

	#homepagina main section:nth-of-type(4) ul li p{
		font-size: 1.5em;
		padding: 20px 50px 0px 50px;
	}

	#homepagina main section:last-of-type .gridwrapper{
		grid-gap: 2.5em 0.6em;
	}
}

@media (min-width: 414px) and (max-width: 736px){

	#homepagina main section:first-of-type ul li:first-of-type div, #homepagina main section:first-of-type ul li:last-of-type div, #homepagina main section:nth-of-type(3) ul li:first-of-type div, #homepagina main section:nth-of-type(3) ul li:last-of-type div{
		height: 28.1em;
	}

	#homepagina main section:nth-of-type(4) ul{
		height: 28.1em;
	}

	#homepagina main section:nth-of-type(4) ul li a button{
	font-size: 1em;
	width: 15em;
	height: 3.1em;
	top: 20em;
	}

	#homepagina main section:last-of-type .gridwrapper{
		grid-gap: 3.7em 0.6em;
		padding-bottom: 70px;
	}

	#homepagina main section:nth-of-type(2) ul {
    padding: 0px 30px 20px 20px;
	}

	#homepagina main section:nth-of-type(2) ul h3{
	font-size: 1em;
	}

}








