/* CSS Document */
*, *::after, *::before {
	padding: 0;
	margin: 0;
  	box-sizing:border-box;  
}

html, body {
  height: 100%;
  margin: 0;
  overflow: scroll
}

@font-face {
    font-family: "AvenirLTStd-Medium";
    src: url("../fonts/AvenirLTStd-Medium.otf");
}

/* hamburger menu (javascript deel) */
#menu{
	background-image: url(../images/bg_menu.jpg);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	position: fixed;
	visibility: hidden;
}

#menu h2{
	color: white;
	font-family: "Helvetica Neue";
	font-size: 3em;
	float: right;
	margin-right: 20px;
}

#menu.toonmenu{
	visibility: visible;
}

/* Tekstdeel van de header */
header{
	background-color: #ffc0cb;
	padding: 10px 50px;
}

header p{
	font-size: 15px;
	line-height: 20px;
	font-family: "Helvetica Neue";
	font-weight: medium;
	text-align: center;
}

header p a{
	color: black;
	text-decoration: none;
	border-bottom: 2px solid black;
}

/* navigatie */
nav{
	width: 100%;
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 10;
}

nav img{
	width: 90%;
}

nav ul{   
  list-style:none;
  display: flex;
  align-items: center;
}

nav li {
  flex-grow: 1;
}

.logo{
	width: 75%;
}

/* eerste deel main */
/* bron afbeeldingen: https://www.monki.com/en_eur/index.html */

#homepagina main section:first-of-type ul li:first-of-type div{
	width: 100%;
	height: 360px;
	background-image: url(../images/monkifoto_1.jpg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;

}

#homepagina main section:first-of-type ul li:last-of-type div{
	width: 100%;
	height: 360px;
	background-image: url(../images/monkifoto_2.jpg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -35px;
	margin-bottom: -50px;
}

#homepagina main section:first-of-type ul li:first-of-type, #homepagina main section:first-of-type ul li:last-of-type{
	position: relative;
}


#homepagina main section:first-of-type ul li:first-of-type h2 {
	position: absolute;
	bottom: 5em;
	color: white;
	font-family: "Helvetica Neue";
	font-size: 32px;
	width: 100%;
	text-align: center;
}

#homepagina main section:first-of-type ul li:last-of-type h2{
	position: absolute;
	bottom: 3.5em;
	color: white;
	font-family: "Helvetica Neue";
	font-size: 32px;
	width: 100%;
	text-align: center;
}

#homepagina main section:first-of-type ul li:first-of-type button{
	font-family: "Helvetica Neue";
	background-color: white;
	border: none;
	font-size: 16px;
	width: 160px;
	height: 50px;
	padding: 12px 0px;
	display: block;
	margin: 0px auto;
	position: relative;
	bottom: 5em;
}

#homepagina main section:first-of-type ul li:last-of-type .shopbutton{
	font-family: "Helvetica Neue";
	background-color: white;
	border: none;
	font-size: 16px;
	width: 160px;
	height: 50px;
	padding: 12px 0px;
	display: block;
	margin: 0px auto;
	position: relative;
	bottom: 2em;
}

@keyframes buttonBeweging {
  0% { 
  	transform:rotate(5deg);
  }
  50% { 
  	transform:rotate(-5deg); 
   }
  100% { 
  	transform:rotate(5deg);
  }
}

#homepagina main section:first-of-type ul button:hover{
	animation-name: buttonBeweging;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#homepagina main section:first-of-type ul a{
	text-decoration: none;
}



/* tweede deel main */
#homepagina main section:nth-of-type(2) ul {
    overflow: auto;
    white-space:nowrap;
    padding: 10px;
}

#homepagina main section:nth-of-type(2) ul li{
	display: inline-block;
	width: 45%;
	margin: 25px 5px 0 0;
}

#homepagina main section:nth-of-type(2) ul img{
	width: 100%;
}

#homepagina main section:nth-of-type(2) ul h3{
	font-size: 13px;
	font-family: "Helvetica Neue";
	font-weight: 400;
	text-align: center;
	padding-top: 10px;
}


/* derde deel main */
/* bron afbeeldingen: https://www.monki.com/en_eur/index.html */

#homepagina main section:nth-of-type(3) ul li:first-of-type div{
	width: 100%;
	height: 360px;
	background-image: url(../images/monkifoto_3.jpg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;

}

#homepagina main section:nth-of-type(3) ul li:last-of-type div{
	width: 100%;
	height: 360px;
	background-image: url(../images/monkifoto_4.jpg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -35px;
	margin-bottom: -50px;
}

#homepagina main section:nth-of-type(3) ul li:first-of-type, #homepagina main section:nth-of-type(3) ul li:last-of-type{
	position: relative;
}


#homepagina main section:nth-of-type(3) ul li:first-of-type h2 {
	position: absolute;
	bottom: 5em;
	color: white;
	font-family: "Helvetica Neue";
	font-size: 32px;
	width: 100%;
	padding: 0px 40px;
	text-align: center;
}

#homepagina main section:nth-of-type(3) ul li:last-of-type h2{
	position: absolute;
	bottom: 3.5em;
	color: white;
	font-family: "Helvetica Neue";
	font-size: 32px;
	width: 100%;
	text-align: center;
}

#homepagina main section:nth-of-type(3) ul li:first-of-type button{
	font-family: "Helvetica Neue";
	background-color: white;
	border: none;
	font-size: 16px;
	width: 160px;
	height: 50px;
	padding: 12px 0px;
	display: block;
	margin: 0px auto;
	position: relative;
	bottom: 5em;
}

#homepagina main section:nth-of-type(3) ul li:last-of-type .shopbutton{
	font-family: "Helvetica Neue";
	background-color: white;
	border: none;
	font-size: 16px;
	width: 160px;
	height: 50px;
	padding: 12px 0px;
	display: block;
	margin: 0px auto;
	position: relative;
	bottom: 2em;
}

#homepagina main section:nth-of-type(3) ul a{
	text-decoration: none;
}

/* vierde deel main */
#homepagina main section:nth-of-type(4) ul{
	background-image: url(../images/planetpower.jpg);
	height: 340px;
	margin-top: 20px;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}

#homepagina main section:nth-of-type(4) ul li{
	position: relative;
}

#homepagina main section:nth-of-type(4) ul li p{
	position: absolute;
  	top: 1em;
  	padding: 0px 70px;
	font-family: "Helvetica Neue";
	font-weight: bold;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 28px;
	letter-spacing: 1px;
}

#homepagina main section:nth-of-type(4) ul li a button{
  	font-family: "Helvetica Neue";
	background-color: white;
	border: none;
	font-size: 16px;
	width: 160px;
	height: 50px;
	padding: 12px 0px;
	display: block;
	margin: 0px auto;
	position: relative;
	top: 16.5em;
}

#homepagina main section:nth-of-type(4) ul li a{
	text-decoration: none;
}

/* laatste deel main */
#homepagina main section:last-of-type h2{
	font-size: 34px;
	font-family: "Helvetica Neue";
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}

#homepagina main section:last-of-type p{
	font-size: 20px;
	font-family: "Helvetica Neue";
	text-align: center;
	padding: 20px 16px;
}

#homepagina main section:last-of-type a{
	text-decoration: none;
}

#homepagina main section:last-of-type button{
  	font-family: "Helvetica Neue";
	background-color: black;
	color: white;
	border: none;
	font-size: 16px;
	width: 176px;
	height: 46px;
	padding: 12px 0px;
	display: block;
	margin: 0px auto;
}

#homepagina main section:last-of-type .gridwrapper{
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-auto-rows: 135px;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px 8px;
	padding-bottom: 40px ;
}

#homepagina main .gridwrapper img{
	width: 100%;
}


/* footer */
footer{
	margin-top:20px;
	background-color: #ffc0cb;
}

footer img:first-of-type{
	width: 10%;
	display: block;
	margin: 0px auto;
	padding-top: 10px;
}

footer h2{
	font-size: 24px;
	font-family: "Helvetica Neue";
	text-align: center;
	padding: 0 30px;
	padding-top: 10px;
}

footer p:first-of-type{
	font-size: 16px;
	font-family: "Helvetica Neue";
	text-align: center;
	padding: 0 18px;
	margin: 20px 0;
}

footer a{
	text-decoration: none;
}

footer button{
	font-family: "Helvetica Neue";
	border: 2px solid black;
	background-color: white;
	font-size: 16px;
	width: 176px;
	height: 46px;
	padding: 12px 0px;
	display: block;
	margin: 0px auto;
	margin-bottom: 40px;
}

footer ul li{
	font-size: 20px;
	font-family: "Helvetica Neue";
	font-weight: bold;
	padding: 10px;
	width: 90%;
	display: block;
	margin: 0px auto;
}

footer p:last-of-type{
	font-family: "Helvetica Neue";
	font-weight: 400;
	text-align: center;
	font-size: 0.8em;
	color: #808080;
	padding: 0px 18px;
	padding-bottom: 10px;
}


/* 2e pagina */

/* section 1 */
/* productfoto en info */
#productpagina .mainproductpagina section:first-of-type .productpagina{
	width: 100%;
	padding: 20px;
	margin-top: -40px;
}

#productpagina .mainproductpagina section:first-of-type h2{
	font-family: "Helvetica Neue";
	font-size: 1.2em;
	margin-left: 10px;
}

#productpagina .mainproductpagina section:first-of-type h2:nth-of-type(2){
	font-weight: normal;
}


/* kleur kiezen */
#productpagina .mainproductpagina section:first-of-type ul:first-of-type{
	margin: 10px 0px 0px 10px;
}

#productpagina .mainproductpagina section:first-of-type ul:first-of-type img{
	width: 10%;
	border-radius: 50%;
}

#productpagina .mainproductpagina section:first-of-type ul:first-of-type li{
	display:inline;
	padding-right: 20px;
}


/* select size & button */
#productpagina .mainproductpagina section:first-of-type p, #productpagina .mainproductpagina section:first-of-type a:first-of-type{
	font-family: "Helvetica Neue";
	font-size: 0.8em;
	font-weight: 500;
	margin: 10px 0px 10px 10px;
	color: black;
}

#productpagina .mainproductpagina section:first-of-type .maatbutton{
	background-color: white;
	width: 48px;
	height: 48px;

}

#productpagina .mainproductpagina section:first-of-type .maattabel{
	width: 90%;
	margin-left: 10px;
}

#productpagina .mainproductpagina section:first-of-type .maattabel li{
	display: inline-block;
	padding-right: 4px;
	padding-bottom: 10px;

}

#productpagina .mainproductpagina section:first-of-type .addtobag {
	width: 95%;
	height: 50px;
	display: block;
	margin: 0px auto;
	margin-top: 10px;
	border: none;
	background-color: #D2D6D8;
	color: white;
	font-size: 1.1em;
	font-weight: bold;
}

#productpagina .mainproductpagina section:first-of-type a:last-of-type{
	text-decoration: none;
}

/* section 2 */
#productpagina .mainproductpagina section:nth-of-type(2) ul:first-of-type{
	margin: 20px 0px 0px 10px;
}

#productpagina .mainproductpagina section:nth-of-type(2) ul:first-of-type li{
	display: inline;
}

#productpagina .mainproductpagina section:nth-of-type(2) button{
	height: 44px;
	width: 31.5%;
	text-align: center;
	border: none;
	background-color: #EFF0F3;
	font-family: "Helvetica Neue";
}

#productpagina .mainproductpagina section:nth-of-type(2) p{
	font-family: "Helvetica Neue";
	font-size: 0.8em;
	margin-left: 10px;
	margin: 20px 0px 20px 10px;

}

#productpagina .mainproductpagina section:nth-of-type(2) ul:last-of-type{
	list-style-type: circle;
	margin: 20px 0px;
	font-family: "Helvetica Neue";
	font-size: 0.8em;
	margin-left: 10px;
}

/* section 3 */

#productpagina .mainproductpagina section:last-of-type h2{
	font-family: "Helvetica Neue";
	text-align: center;
	font-size: 1.5em;
	padding-top: 20px;
	border-top: 1px solid #A8A8A8;
}

#productpagina .mainproductpagina section:last-of-type img{
	width: 50%;
	display: block;
	margin: 0px auto;
	margin-top: 30px;
}

#productpagina .mainproductpagina section:last-of-type p{
	font-family: "Helvetica Neue";
	text-align: center;
	font-size: 0.8em;
	margin: 5px 0px 20px 0px;
	padding: 0px 90px;
	line-height: 1.5em;
}

#productpagina .mainproductpagina section:last-of-type ul{
	overflow: auto;
    white-space:nowrap;
    padding: 10px;
}

#productpagina .mainproductpagina section:last-of-type ul li{
	display: inline-block;
	width: 45%;
	margin-right: 5px;
}

#productpagina .mainproductpagina section:last-of-type ul img{
	width: 100%;
}


#productpagina .mainproductpagina section:last-of-type h2:nth-of-type(3){
	border: none;
	font-size: 1.3em;
}


/* responsive */

@media (min-width: 375px) and (max-width: 667px){

	#homepagina main section:first-of-type ul li:first-of-type div, #homepagina main section:first-of-type ul li:last-of-type div, #homepagina main section:nth-of-type(3) ul li:first-of-type div, #homepagina main section:nth-of-type(3) ul li:last-of-type div{
		height: 420px;
	}

	#homepagina main section:nth-of-type(4) ul{
		height: 400px;
	}

	#homepagina main section:nth-of-type(4) ul li p{
		font-size: 1.5em;
		padding: 20px 50px 0px 50px;
	}

	#homepagina main section:last-of-type .gridwrapper{
		grid-gap: 40px 10px;
	}
}

@media (min-width: 414px) and (max-width: 736px){

	#homepagina main section:first-of-type ul li:first-of-type div, #homepagina main section:first-of-type ul li:last-of-type div, #homepagina main section:nth-of-type(3) ul li:first-of-type div, #homepagina main section:nth-of-type(3) ul li:last-of-type div{
		height: 450px;
	}

	#homepagina main section:nth-of-type(4) ul{
		height: 440px;
	}

	#homepagina main section:nth-of-type(4) ul li a button{
	font-size: 16px;
	width: 240px;
	height: 50px;
	top: 20em;
	}

	#homepagina main section:last-of-type .gridwrapper{
		grid-gap: 60px 10px;
		padding-bottom: 70px;
	}

	#homepagina main section:nth-of-type(2) ul {
    padding: 0px 30px 20px 20px;
	}

	#homepagina main section:nth-of-type(2) ul h3{
	font-size: 1em;
	}

}








